body {
  margin:    20px auto;
  max-width: 1000px;
  padding: 10px;
}

/* container */
.two-column {
    display: block;
}

/* columns */
.two-column > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.citation {
   font-family: inherit;
   color: blue;
}
